In [8]:
# to unload js refresh the page, to unload sql restart the kernel
# if:UsageError: Line magic function `%sql` not found.: then refresh page and import_js
import pandas as pd
from my_pack import import_js
import_js("sql.js")

ipython-sql is in the pip local python library

In [9]:
# press Ctrl-shift-L to load a .db file (if it doesn't exist it will create it then load)
# i.e. type in data or data.db

data.db loaded

In [10]:
df=pd.DataFrame([[1,2,3],[1,2,3]])
cnn = sql.connect("data.db")
# create an sql table in your database
df.to_sql('table1', cnn)

2

In [12]:
-- # sql comments are: -- (single line), /* (multiline) */
-- # run using shortcut key else put %%sql # at the top: Ctrl-Shift-Enter to run an entire cell as sql
SELECT * FROM table1

 * sqlite:///data.db
Done.

[(0, 1, 2, 3), (1, 1, 2, 3)]

For in-line SQL (run as normal)

In [13]:
print(4)
table = %sql SELECT * FROM table1

4
 * sqlite:///data.db
Done.

In [14]:
/print type(table)
table

<class 'sql.run.ResultSet'>

[(0, 1, 2, 3), (1, 1, 2, 3)]

when needing to switch between files

For in-line

In [15]:
df=pd.DataFrame([[1,2],[1,2]])
cnn = sql.connect("data2.db")
# create an sql table in your database
df.to_sql('table1', cnn)

%sql sqlite:///data2.db SELECT * FROM table1

Done.

[(0, 1, 2), (1, 1, 2)]

In [16]:
-- # use shortcut key

SELECT * FROM table1

   sqlite:///data.db
 * sqlite:///data2.db
Done.

[(0, 1, 2), (1, 1, 2)]